<?xml version="1.0"?>
<model>
  <name>Limo four diff</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>
 
  <author>
   <name>Saad Mahmud</name>
   <email>shuvro.mahmud79@gmail.com</email>
  </author>
 
  <description>
    SDF file for the agilex limo robot in four wheel differential mode.
    Reference: https://github.com/agilexrobotics/limo_ros2/blob/master/limo_description/urdf/limo_four_diff.xacro
  </description>
</model>